 <div class="left-sidebar">
                        <vc:sections/>
                  <vc:brands/>
                  <vc:prices/>
                  <vc:shipping/>     
                        
                        
                       
                    
                    </div>